*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.field{
    border: 3px solid black;
    border-radius: 5px;
    width: 500px;
    height: 600px;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px ;
}

#hint{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* Pojemnik Colory */

.colors{
    width: 300px;
    height: 450px;
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    left: 70%;
    top: 43%;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    box-shadow: 3px 3px 10px ;
}

h2{
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.color{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: scale 0.3s;
    margin-left: 50px;
    margin-top: 20px;
}

.color:hover{
    scale: 1.1;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.orange{
    background-color: orange;
}

.black{
    background-color: black;
}

.brown{
    background-color: brown;
}

.cyan{
    background-color: cyan;
}

/* End Pojemnik Colory */

.dot {
    position: absolute;
    width: 5px; 
    height: 5px;
    border-radius: 50%;
}

@media(max-width: 1300px){
    .field{
        left: 50%;
        top: 35%;
        height: 450px;
        width: 600px;
    }
    .colors{
        left: 50%;
        top: 80%;
        height: 250px;
        width: 350px;
    }
    .color{
        width: 60px;
        height: 60px;
        margin-left: 20px;
        margin-top: 25px;
    }
}

@media(max-width: 800px){
    h1, h2{
        text-align: center;
        font-size: 18px;
    }
    .field{
        left: 50%;
        top: 35%;
        height: 450px;
        width: 600px;
        margin: auto;
    }
    .colors{
        left: 50%;
        top: 80%;
        height: 250px;
        width: 350px;
    }
    .color{
        width: 60px;
        height: 60px;
        margin-left: 20px;
        margin-top: 25px;
    }
}
@media (max-width: 480px) {
    .field {
        width: 90vw;
        height: 40vh;
    }
    .colors {
        width: 80vw;
        height: 80px;
    }
    .color {
        width: 8vw;
        height: 8vw;
        margin: 1vw;
    }
}
